
:root {
    --main_color: #3fbc97;
    --second_color: #2f3e50;
    --third_color: #404f67;
}

/* root class */

.bg_main {background-color: var(--main_color);}
.bg_second {background-color: var(--second_color);}
.bg_third {background-color: var(--third_color);}
.text_main {color: var(--main_color);}
.text_second {color: var(--second_color);}
.text_third {color: var(--third_color);}

/* general class */

h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
body {font-family: sans-serif;}
.div_bar {
    height: 3px;
    width: 100%;
    border-radius: 3px;
    align-content: center;
}

/* HEADER */

nav {min-height: 6rem;}

/* JUMBO */

#jumbo {
    padding-top: 10rem;
    padding-bottom: 4rem;
}

/* PORTFOLIO */

#portfolio img, .img_col {
    border-radius: 10px;
}
.fa-plus {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    display: none;
}

/* CONTACT ME */

input, textarea {
    outline: 0;
    border: none;
    border-bottom: solid 1px lightgray;
    width: 100%;
    margin-bottom: 1rem;
  }
textarea {
    resize: vertical;
    height: 8rem;
}
/* FOOTER */

.icon_container {
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* HOOVER */

nav a:hover {
    color: var(--main_color)!important;
} 


.overlay:hover {opacity: 30%;}
.overlay:hover + .fa-plus {display: block;}

#contact_me .btn:hover {
    border-color: var(--main_color);
    color: var(--main_color)!important;
}
#about .btn:hover {
    border-color: var(--main_color);
    background-color: white;
    color: var(--main_color)!important;
}