body {font-family: sans-serif;
}
header {
    background-color: #2f3e50;
}
#jumbo, #about {
    background-color: #3fbc97;
}
.row {justify-content: center;}
#portfolio {color: #1c3448;}
#portfolio img {
    width: 100%;
    border-radius: 10px;
}



/* MEDIA QUERY */

 @media all and (min-width:768px) {
    #menu {display: none;}
 }